
  
  <h1 class="text-center"> Profil sur votre profil <%=@user.first_name%> <%=@user.last_name%></h1>
  
  
<div class="d-flex justify-content-center">

        <div class="card w-50">
          <img src="https://images.pexels.com/photos/3905907/pexels-photo-3905907.jpeg?cs=srgb&dl=personne-femme-coeur-main-3905907.jpg&fm=jpg" class="card-img-top" alt="Photo de profil">
          <div class="card-body">
            <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
            <p class="card-text"><%= @user.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @user.email %></li>
            <li class="list-group-item"><%= @user.birthdate %></li>
            <li class="list-group-item"><%= @user.adress %></li>
          </ul>
          <div class="card-body text-center">
            <%if current_user.id == @user.id %>
              <%= link_to 'Editer le compte', edit_user_registration_path, class:"btn btn-outline-success" %> |
              <%= link_to 'Editer le profil', edit_user_path, class:"btn btn-success" %>
            <% end %>
          </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <%= link_to '« Retour Accueil', root_path, class:"btn btn-warning" %>
    </div>
  <br>
  <div class="mt-5">
    <h2> Historique de vos commandes </h2>

    <% current_user.orders.each_with_index do |order, i| %>

      <b> Commande du <%= order.created_at.strftime('%d/%m/%Y à %H:%M') %> d'un montant de <%= order.total %>€</b> 
      <p> Contenu : </p>
      <ul>
      <% order.items.each do |item| %>
        <li><%= item.title %></li> 
      <% end %>
      </ul>

    <% end %>
  </div>
