<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> vient de passer une commande.</h1>
    <h2>Voici un récapitulatif de la commande.</h2>
    <% @user.cart.in_cart.each do |item| %>
        <div class="row">
            <div class="col-md-2">
              <%= image_tag item.picture, width: "150"%>
            </div>
            <div class="col-md-9">
                <%= item.title %><br>
            </div>
        </div>
		<br/>
    <% end %>
	<h4>La commande a couté a <%= @user.first_name %> un total de <%= @user.cart.total %>€</h4>
  </body>
</html>
