    <br>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="card">
    <div class="row no-gutters">
        <div class="col-auto">
        <%= image_tag @item.picture, class:"img-fluid", width:"400px"%>
        </div>
        <div class="col">
        <div class="card-block px-2">
            <h4 class="card-title"><%= @item.title%></h4>
            <h5 class="card-title"><strong><%= @item.price%>€</strong></h5>
            <%= render 'rating/show', rate: @rate%>
            <p class="card-text"><%= @item.description%></p>
            <%= link_to "<i class='fas fa-shopping-cart'> </i>  Ajouter au panier".html_safe, cart_path, data:{ method: "PUT" }, class:"btn btn-success"%>
        </div>
    </div>
</div>
<div class="card-footer w-100 text-muted">
<b><%= @item.category.name %></b>
    Footer stating cats are CUTE little animals
</div>

<h2>Commentaires</h2>

<div>
  <%= render 'comments/index'%>
  <%= render 'comments/new'%>
</div>
