<!DOCTYPE html>
<html>
  <head>
    <title>Chatons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'popper.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-3.4.1.slim.min', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f56b9447bd.js" crossorigin="anonymous"></script>


  </head>

  <body>
  <!-- Start of nav bar-->

    <header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="">   
          <%= link_to "        <i class='fas fa-cat fa-lg'></i><strong> Whisker</strong>".html_safe,root_url ,class:"navbar-brand d-flex align-items-center" %>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-shopping-cart"></i>
  </button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" >
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>
</div>      
      
    </div>
  </div>
</header>
<!-- End of nav bar-->

    <!-- Start of main-->
    <main role="main" class="flex-shrink-0">
      <div class="container">
            <%= yield %>
      </div>
    </main>
    <!-- End of main-->

    <!-- Start of footer-->
    <!-- End of footer-->

  </body>
</html>

