<!DOCTYPE html>
<html>
  <head>
    <title>Chatons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/f56b9447bd.js" crossorigin="anonymous"></script>


  </head>

  <body>
<!-- Start of nav bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark d-flex justify-content-between">
      <%= link_to " Whisker", root_path, class:"navbar-brand" %>
      <div class="navbar-nav" id="navbarTogglerDemo02">
        <%= render  'btn'%>
      </div>
    </nav>    
<!-- End of nav bar-->

<!-- Flash -->
    <% flash.each do |key, value| %>
      <% if key == "error" %>
        <div class="alert alert-light alert-dismissible fade show" role="alert">
          <%= content_tag :span, value, class: "flash #{key}" %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% else %>
        <div class="alert alert-light alert-dismissible fade show" role="alert">
          <%= content_tag :span, value, class: "flash #{key}" %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
     <% end %>
<!-- End of Flash -->

<!-- jumbotron -->
    <% if current_page?(root_path) %>
      <div class="jumbotron">
        <h1 class="display-4">Cat-roulette</h1>
        <p class="lead">Les chattes les plus douce de France</p>
      </div>      
    <% end %>
<!-- End of Jumbotron -->

<!-- Start of main-->
    <main role="main" class="flex-shrink-0">
      <div class="container">
            <%= yield %>
      </div>
    </main>
<!-- End of main-->

<!-- Start of footer-->
<!-- End of footer-->

  </body>
</html>